.fetch-images-slider .slick-prev,
.fetch-images-slider .slick-next {
  width: 50px !important;
  height: 50px !important;
  z-index: 10 !important;
}

.fetch-images-slider .slick-prev:before,
.fetch-images-slider .slick-next:before {
  font-size: 50px !important;
  color: #34d399 !important;
  opacity: 1 !important;
}

.fetch-images-slider .slick-prev {
  left: 10px !important;
}

.fetch-images-slider .slick-next {
  right: 10px !important;
}
